extends layout

block content
    .row
        .span12
            img(src="/images/DroneFromHome.png")

    .row
        .span12
            video(width="320", height="240")
                source(src="/stream", type="video/webm")