extends layout

block content
    .row
        .span12
            img(src="/images/DroneFromHome.png")

    .row
        .span5
            video(width="320", height="240")
                source(src="/stream", type="video/webm")
        .span7
            p
            p
            p
            p Control the remote drone with a Quake style interface.
            ul
              li w = forward
              li s = backward
              li d = right
              li a = left
              li shift = start the drone
              li space = land the drone
              li move the mouse to rotate the drone (not yet implemented)
              li click the mouse to shoot (not yet implemented ;)
