extends layout

block append style
    style(type="text/css")
        canvas:-webkit-full-screen {
            -webkit-transform: scale3d(2.0, 2.0, 1.0);
        }

block content
    .row(align="center")
        img(id="logo", src="/images/DroneFromHome.png")

    .row(align="center")
        div#dronestream(width=640, height=360)

    .row(align="center")
        p Click the video to start fullscreen mode and control the drone with your mouse!
    .row
        .span2
        .span4
            table.table.table-striped.table-condensed
                thead
                    tr
                        th Param
                        th Value
                tbody
                    tr
                        td Battery
                        td#batteryPercentage
                    tr
                        td Altitude
                        td#altitudeMeters
                    tr
                        td Heading
                        td#clockwiseDegrees
                    tr
                        td Xvel
                        td#xVelocity
                    tr
                        td Yvel
                        td#yVelocity
                    tr
                        td Zvel
                        td#zVelocity
                    tr
                        td Control
                        td#controlState
                    tr
                        td State
                        td#flyState
        .span4
            table.table.table-striped.table-condensed
                thead
                    tr
                        th Key
                        th Action
                tbody
                    tr
                        td w
                        td forward
                    tr
                        td s
                        td back
                    tr
                        td d
                        td right
                    tr
                        td a
                        td left
                    tr
                        td c
                        td stop
                    tr
                        td f
                        td flip
                    tr
                        td shift
                        td take off
                    tr
                        td space
                        td land
        .span2
block append footer
    script(type='text/javascript', src='/javascripts/vendor/broadway/sylvester.js')
    script(type='text/javascript', src='/javascripts/vendor/broadway/glUtils.js')
    script(type='text/javascript', src='/javascripts/vendor/broadway/util.js')
    script(type='text/javascript', src='/javascripts/vendor/broadway/avc-codec.js')
    script(type='text/javascript', src='/javascripts/vendor/broadway/avc.js')
    script(type='text/javascript', src='/javascripts/vendor/broadway/canvas.js')
    script(type='text/javascript', src='/javascripts/dronefromhome.js')

    script(type="text/javascript")
            $(document).ready(function () {
                var droneFromHome = new DroneFromHome(document.querySelector('#dronestream'));
            });
