!!!
html(lang="en")
  head
    meta(charset="utf-8")
    title DroneFromHome
    meta(description="DroneFromHome")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    block style
        style(type="text/css")
          body {
                  padding-top: 60px;
                  padding-bottom: 40px;
               }
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
  body
    div(class="navbar navbar-fixed-top")
      div(class="navbar-inner")
        div(class="container")
          a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="brand", href="/") DroneFromHome
          div(class="collapse)
            ul(class="nav")
              li(id="nav-home")
                a(href="/") Home
              li(id="nav-about")
                a(href="/about") About

    div(class="container")
      block content
      hr
      footer
        .row.muted(style="text-align:right")
            small
              | &copy; 2012 The DroneFromHome Team -&nbsp;
    block footer
      script(type='text/javascript', src='/javascripts/vendor/jquery-1.8.2.min.js')
